section {
  text-align: center;
}
footer {
  height: 20px;
  padding-top: 20px;
  text-align: center;
  background-color: gray;
}
p {
  font-family: "Josefin Sans", sans-serif;
}
h1, h3, nav {
  font-family: Raleway, sans-serif;
}
#Section1 {
  background-color: #e5ffec;
}

#Section2 {
  background-color: #ffffe6;
}

#Section3 {
    background-color: #ffe5ec;  
}
hr {
  padding-top: -20px;
  padding-bottom: -20px;
}
