section {
  padding-top: 20px;
  text-align: center;
}
footer {
  height: 20px;
  padding-top: 20px;
  text-align: center;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
h1, h3 {
  font-family: Raleway, sans-serif;
}
#Section1 {
  background: #e5ffec;
}

#Section2 {
  background-color: #ffffe6;
}

#Section3 {
    background-color: #ffe5ec;  
}
