/* css 
selector {
property: value;
}
*/

header h1 {
  color: #00802b;
}
header {
  background: url('https://static.pexels.com/photos/256485/pexels-photo-256485.jpeg');
  width: 100%;
  padding: 50px;
  text-align: center; 
  background-size: cover;
  background-position: center;
}
