/* css 
selector {
property: value;
}
*/

header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1.5 em;
}
header {
  background: url('https://static.pexels.com/photos/256485/pexels-photo-256485.jpeg');
  width: 100%;
  padding: 50px;
  text-align: center; 
  background-size: cover;
  background-position: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}
